<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzkj.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.kzkj.pojo.po.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="CHAR" />
    <result column="app_time" property="appTime" jdbcType="VARCHAR" />
    <result column="app_status" property="appStatus" jdbcType="CHAR" />
    <result column="order_type" property="orderType" jdbcType="CHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="ebp_code" property="ebpCode" jdbcType="VARCHAR" />
    <result column="ebp_name" property="ebpName" jdbcType="VARCHAR" />
    <result column="ebc_code" property="ebcCode" jdbcType="VARCHAR" />
    <result column="ebc_name" property="ebcName" jdbcType="VARCHAR" />
    <result column="goods_value" property="goodsValue" jdbcType="DECIMAL" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="currency" property="currency" jdbcType="CHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, guid, app_type, app_time, app_status, order_type, order_no, ebp_code, ebp_name, 
    ebc_code, ebc_name, goods_value, freight, currency, note
  </sql>

</mapper>