<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzkj.mapper.ReceiptsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kzkj.pojo.po.Receipts">
        <id column="id" property="id" />
        <result column="guid" property="guid" />
        <result column="app_type" property="appType" />
        <result column="app_time" property="appTime" />
        <result column="app_status" property="appStatus" />
        <result column="ebp_code" property="ebpCode" />
        <result column="ebp_name" property="ebpName" />
        <result column="order_no" property="orderNo" />
        <result column="ebc_code" property="ebcCode" />
        <result column="ebc_name" property="ebcName" />
        <result column="pay_code" property="payCode" />
        <result column="pay_name" property="payName" />
        <result column="pay_no" property="payNo" />
        <result column="charge" property="charge" />
        <result column="currency" property="currency" />
        <result column="note" property="note" />
        <result column="return_info" property="returnInfo" />
        <result column="return_status" property="returnStatus" />
        <result column="return_time" property="returnTime" />
        <result column="accounting_date" property="accountingDate" />
    </resultMap>

    <select id="getByEbcCodeAndOrderNo" resultMap="BaseResultMap">
        SELECT *
        FROM tb_receipts WHERE ebc_code = #{ebcCode} and order_no = #{orderNo}
    </select>

</mapper>
