<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzkj.mapper.WaybillDetailMapper" >
  <resultMap id="BaseResultMap" type="com.kzkj.pojo.po.WaybillDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="waybill_id" property="waybillId" jdbcType="INTEGER" />
    <result column="gnum" property="gnum" jdbcType="INTEGER" />
    <result column="total_package_no" property="totalPackageNo" jdbcType="VARCHAR" />
    <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="invt_no" property="invtNo" jdbcType="CHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, waybill_id, gnum, total_package_no, logistics_no, invt_no, note
  </sql>

</mapper>